@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/Monument Grotesk/ABCMonumentGrotesk-Regular.woff2') format('woff2'),
       url('/fonts/Monument Grotesk/ABCMonumentGrotesk-Regular.woff') format('woff'),
       url('/fonts/Monument Grotesk/ABCMonumentGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/Monument Grotesk/ABCMonumentGrotesk-RegularItalic.woff2') format('woff2'),
       url('/fonts/Monument Grotesk/ABCMonumentGrotesk-RegularItalic.woff') format('woff'),
       url('/fonts/Monument Grotesk/ABCMonumentGrotesk-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/Monument Grotesk/ABCMonumentGrotesk-Medium.woff2') format('woff2'),
       url('/fonts/Monument Grotesk/ABCMonumentGrotesk-Medium.woff') format('woff'),
       url('/fonts/Monument Grotesk/ABCMonumentGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/Monument Grotesk/ABCMonumentGrotesk-MediumItalic.woff2') format('woff2'),
       url('/fonts/Monument Grotesk/ABCMonumentGrotesk-MediumItalic.woff') format('woff'),
       url('/fonts/Monument Grotesk/ABCMonumentGrotesk-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/Monument Grotesk/ABCMonumentGrotesk-Bold.woff2') format('woff2'),
       url('/fonts/Monument Grotesk/ABCMonumentGrotesk-Bold.woff') format('woff'),
       url('/fonts/Monument Grotesk/ABCMonumentGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('/fonts/Monument Grotesk/ABCMonumentGrotesk-BoldItalic.woff2') format('woff2'),
       url('/fonts/Monument Grotesk/ABCMonumentGrotesk-BoldItalic.woff') format('woff'),
       url('/fonts/Monument Grotesk/ABCMonumentGrotesk-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
