@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Monument Grotesk", sans-serif;
}
body::-webkit-scrollbar {
  width: 0px;
}

@layer utilities {
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  .animate-fadeInOut {
    animation: fadeInOut 1s ease-in-out;
  }
}

.custom-cursor {
  position: absolute;
  width: 16px;
  height: 16px;
  background: radial-gradient(circle, #ffffff 40%, #d9d9d9 60%, #999999 80%);
  /* Moon-like texture */
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.5);
  mix-blend-mode: difference;
  /* Glow effect */
  transform: translate(-50%, -50%);
  animation: glow-pulse 2s ease-in-out infinite;
  z-index: 2000;
}

@keyframes glow-pulse {
  0%,
  100% {
    box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px 8px rgba(255, 255, 255, 0.8);
  }
}

.custom-cursor-hover {
  width: 4px;
  height: 30px;
  background-color: #00fe7f;
  /* Green line for hover state */
}

/* Hide the custom cursor on touch devices */
@media (pointer: coarse) {
  .custom-cursor {
    display: none;
  }

  body {
    cursor: default; /* Ensure normal default cursor for touch devices */
  }
}
/* Add background fill effect on hover */
.highlight-text {
  position: relative;
  display: inline-block;
  cursor: none;
  overflow: hidden;
}

.highlight-text .text-content {
  position: relative;
  /* Text remains isolated */
  z-index: 2;
  /* Ensure the text stays above */
}

.highlight-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #00fe7f1f;
  /* Green background */
  -webkit-backdrop-filter: blur(13px);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: -1;
}

.highlight-text:hover {
  color: #00fe7f;
  /* Change text color on hover */
}

.highlight-text:hover::after {
  transform: translateX(0);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* FOOTER CSS START */
.footer {
  background: linear-gradient(
    180deg,
    rgba(18, 18, 18, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  border-top: 1px solid #222222;
  backdrop-filter: blur(24px);
  box-shadow: 0px 4px 4px 0px #00000040;
}

.legal-link {
  @apply text-legal-link font-sans;
  color: #727272;
}

.menu {
  @apply text-menu font-sans;
  color: #bababa;
}

/* FOOTER CSS END */

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #080b1d;
  --gradient-color-2: #00020f;
  --gradient-color-3: #1a4fff;
  --gradient-color-4: #091e3d;
}

#gradient-hero {
  width: 100%;
  height: 100%;
  --gradient-color-1: #080b1d;
  --gradient-color-2: #00020f;
  --gradient-color-3: #eae2ff;
  --gradient-color-4: #b9beff;
}

/* CONTACT PAGE CSS START */
input,
textarea,
select,
.dropdown {
  padding-left: 16px;
  padding-top: 21px;
  font-size: 14px;
  border: 1px solid #333333;
  border-radius: 8px;
  width: 100%;
  height: 52px;
  background: #121212;
  color: #e0e0e0;
  box-sizing: border-box;
}

.dropdown {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #121212
    url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%2010L11.6464%2013.6464C11.8417%2013.8417%2012.1583%2013.8417%2012.3536%2013.6464L16%2010%22%20stroke%3D%22%23727272%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E")
    no-repeat right 12px center;
  background-size: 24px 24px;
}

input:focus,
textarea:focus,
select:focus,
.dropdown:focus {
  outline: none;
}

.dropdown-options {
  position: absolute;
  font-size: 14px;
  top: 100%;
  left: 0;
  width: 100%;
  background: #121212;
  border: 1px solid #333333;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px #00000029;
  z-index: 10;
  margin-top: 4px;
}

.dropdown-option {
  padding: 10px 14px;
  margin: 4px;
  font-size: 14px;
  color: #e0e0e0;
  background: #121212;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.dropdown-option:hover {
  background-color: #333333;
}

label {
  color: #727272;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

textarea {
  resize: none;
}

/* CONTACT PAGE CSS END */

.hover-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #d9d9d9;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition:
    width 0.3s ease,
    height 0.3s ease,
    top 0.3s ease,
    left 0.3s ease;
}

button:hover .hover-circle {
  width: 56px;
  height: 56px;
  mix-blend-mode: difference;
}

button .hover-circle.active {
  width: 200%;
  height: 200%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition:
    width 0.4s ease,
    height 0.4s ease,
    top 0.4s ease,
    left 0.4s ease;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-4px) translateX(-4px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
.floating-bg {
  animation: floating 0.8s ease-in-out infinite;
}

.masked {
  position: relative;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg")
  no-repeat center center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: cover;
}

.masked::before {
  content: "macbook pro.";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg")
  no-repeat center center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: cover;
  filter: blur(40px);
  opacity: 0.8;
  }

.masked::before {
  content: "macbook pro.";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg")
  no-repeat center center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: cover;
  filter: blur(20px);
  opacity: 0.8;
}

.line {
  border-bottom: 1px solid #333;
}